.img-github {
    background-image: url("../../assets/github-mark-white.png");
    background-color: #000;
    display: block;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
}