.container{
    display: flex;
    float: left;
    margin-top: 80px;
}

.display-image{
    float: left;
    height: 35rem;
    width: 30rem;
}

.book-details{
    margin-left: 30px;
}

.badge{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px;
    font-size: 16px;
}