.book-style {
  width: 330px;
  margin: 10px;
  text-align: center;
}

.title-style {
  text-align: center;
}

.button-style {
  display: flex;
  justify-content: right;
}

.edit-button-style {
    display: flex;
    justify-content: start;
  }

.label-style{
    margin-right: 10px;
    font-weight: bold;
}

.listItem {
  display: flex;
  justify-content: flex-start;
}

.fit-page {
  display: block;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 150px;
}

.image-format {
  padding: 10px;
  height: 400px;
  width: 300px;
}

.edit-buttons-style {
  display: flex;
  justify-content: space-between;
}
