.book-style {
    width: 350px;  
    margin: 10px;
}

.title-style {
    text-align: center;
}

.button-style {
    display:  flex;
    align-items: center;
    justify-content: center;
}

.label-style {
    text-orientation: initial;
}