.margin-down {
    margin-bottom: 10px;
}

.navm-left-center {
    margin-top: 8px;
    flex-direction: column;
    margin-left: 20px;
}

.margin-left{
    margin-left: 10px;
}

.login-style{
    display: flex;
    margin-right: 20px;
}

.info-container{
    display: flex;
    margin-top: 10px;
}